<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="school" class="com.nengli51.bean.School">
        <property name="name" value="zgc2x"/>
    </bean>
    <bean id="child" class="com.nengli51.bean.User">
        <property name="name" value="Jim"></property>
        <property name="school" ref="school"/>
    </bean>
</beans>